{% extends "layout.html" %}
{% block content %}
    <h1>Demo</h1>
    <p>
        <a href="https://github.com/ebencarek/chat-example-kafka" target="_blank">Here</a> you will find
        an example Node.js chat application that uses Kafka to store and distribute chat messages
        between multiple server instances. The <code>README</code> file in this application contains
        the instructions to get this app up and running.
    </p>
    <p class="small">
        This example chat application is based on the sample <a href="https://socket.io/get-started/chat/" target="_blank">Socket-IO chat application</a>.
    </p>
{% endblock %}





