{% extends "layout.html" %}
{% block content %}
    <p>This tutorial assumes you are working in a Unix system.</p>
    <h4>Install Kafka</h4>
    <p>
        Download the <a href="https://www.confluent.io/download/" target="_blank">Confluent Platform</a> , which contains the most recent version of Apache Kafka.
    </p>
    <p>
        Decompres the file. Then move the entire confluent folder to your favorite installation location, for example: <code>/usr/local</code>
    </p>
    <p>
        Next, add the location of the Confluent bin directory to your PATH. Add this line to your <code>~/.bash_profile</code>:
    </p>
    <pre>
        <code>export PATH=&lt;path-to-confluent&gt;/bin:$PATH</code>
    </pre>
    <h4>Start Zookeeper and Kafka</h4>
    <p>
        Kafka uses a service called Zookeeper under the hood, so we first need to start the Zookeeper server.
    </p>
    <p>
        In your working directory, download the <code><a href="/download_zookeeper_properties">zookeeper.properties</a></code> file. Then run:
    </p>
    <pre>
        <code>&gt; zookeeper-server-start zookeeper.properties</code>
    </pre>
    <p>To start Kafka, first download <code><a href="/download_server_properties">server.properties</a></code> into your working directory. Then in another console run:</p>
    <pre>
        <code>&gt; kafka-server-start server.properties</code>
    </pre>
    <h4>Create a topic</h4>
    <p>
        Kafka should now be up and running locally on port 9092. Open another console, and let's create a topic called "test" with 1 partition:
    </p>
    <pre>
        <code>&gt; kafka-topics --create --bootstrap-server localhost:9092 --replication-factor 1 --partitions 1 --topic test</code>
    </pre>
    <p>We can see this topic by running the list command:</p>
    <pre>
        <code>&gt; kafka-topics --list --bootstrap-server localhost:9092</code>
        <code>test</code>
    </pre>
    <h4>Create a Producer</h4>
    <p>
        To send some messages to this topic, Kafka's built in command line producer tool. Then anything you type in this terminal will be published to the "test" topic, one line per message.
    </p>
    <pre>
        <code>&gt; kafka-console-producer --broker-list localhost:9092 --topic test</code>
        <code>&gt; Hello World!</code>
    </pre>
    <h4>Create a Consumer</h4>
    <p>
        We can view the messages being published to this topic in another console by running Kafka's command line consumer:
    </p>
    <pre>
        <code>&gt; kafka-console-consumer --bootstrap-server localhost:9092 --topic test --from-beginning</code>
        <code>Hello World!</code>
    </pre>
    <p>
        You can continue to type messages into the producer console and they will appear in the consumer console.
    </p>
    <h4>Add More Brokers</h4>
    <p>
        Let's add more brokers to our cluster. Make two more copies of the server config file:
    </p>
    <pre>
        <code>&gt; cp server.properties server-1.properties</code>
        <code>&gt; cp server.properties server-2.properties</code>
    </pre>
    <p>
        Edit these new files to have the following properties instead:
    </p>
    <pre>
        <code>server-1.properties:</code>
        <br>
        <code>broker.id=1</code>
        <code>listeners=PLAINTEXT://:9093</code>
        <code>log.dirs=/tmp/kafka-logs-1</code>
        <br>
        <code>server-2.properties:</code>
        <br>
        <code>broker.id=2</code>
        <code>listeners=PLAINTEXT://:9094</code>
        <code>log.dirs=/tmp/kafka-logs-2</code>
    </pre>
    <p>
        Now let's start up the other two brokers, each in another console:
    </p>
    <pre>
        <code>&gt; kafka-server-start server-1.properties</code>
        <code>&gt; kafka-server-start server-2.properties</code>
    </pre>
    <p>
        Let's create a new topic now that takes advantage of our new brokers. We'll have a replication factor of 3 instead of 1.
    </p>
    <pre>
        <code>&gt; kafka-topics --create --bootstrap-server localhost:9092 --replication-factor 3 --partitions 1 --topic test2</code>
    </pre>
    <p>
        We can see the details of this new topic by running:
    </p>
    <pre>
        <code>&gt; kafka-topics --describe --bootstrap-server localhost:9092 --topic test2</code>
        <code>Topic:test2	PartitionCount:1	ReplicationFactor:3	Configs:segment.bytes=1073741824</code>
        <code>	Topic: test2	Partition: 0	Leader: 0	Replicas: 0,2,1	Isr: 0,2,1</code>
    </pre>
    <p>
        <b>Leader</b> shows the ID of the broker that handles all reads and writes for the given partition. We only have 1 partition, and broker 0 is the leader.
        <b>Replicas</b> shows the IDs of the brokers that are replicating the partition, and <b>Isr</b> shows the IDs of the replicas that are alive and in-sync with the leader.
    </p>
    <p>
        You can use the commands from above to start a producer and consumer for our new topic, it should work just the same. Let's talk to one of our new brokers running on a different port:
    </p>
    <pre>
        <code>&gt; kafka-console-producer --broker-list localhost:9093 --topic test2</code>
        <code>&gt; Hello from our replicated topic!</code>
        <br>
        <code>&gt; kafka-console-consumer --bootstrap-server localhost:9093 --topic test2 --from-beginning</code>
        <code>Hello from our replicated topic!</code>
    </pre>
    <h4>Fault Tolerance</h4>
    <p>
        Now that we have a topic that's replicated across 3 nodes in our cluster, let's take down the leader and see what happens. Broker 0 is the leader of our current partition, so either end the process in that console window, or search for the PID and kill that process manually:
    </p>
    <pre>
        <code>&gt; ps aux | grep server.properties</code>
        <code>ebencarek        33037   0.1  3.2  8110788 533860 s003  S+   11:41AM ...</code>
        <code>&gt; kill -9 33037</code>
    </pre>
    <p>
        Let's check the status of our topic. Note that becuase we killed broker 0 which was running on port 9092 that we have to talk to one of the other two brokers running on a different port:
    </p>
    <pre>
        <code>&gt; kafka-topics --describe --bootstrap-server localhost:9093 --topic test2</code>
        <code>Topic:test2	PartitionCount:1	ReplicationFactor:3	Configs:segment.bytes=1073741824</code>
        <code>	Topic: test2	Partition: 0	Leader: 2	Replicas: 0,2,1	Isr: 2,1</code>
    </pre>
    <p>
        We can see that broker 2 has been elected the new leader of this partition, and broker 0 is no longer in the list of in-sync replicas. Sending messages from our producer will still work however, because we replicated our topic!
    </p>
    <p>
        Now we can bring our first broker that we killed back online, and see that it seamlessly rejoins the cluster as a follower:
    </p>
    <pre>
        <code>&gt; kafka-server-start server.properties</code>
        <br>
        <code>&gt; kafka-topics --describe --bootstrap-server localhost:9093 --topic test2</code>
        <code>Topic:test2	PartitionCount:1	ReplicationFactor:3	Configs:segment.bytes=1073741824</code>
        <code>	Topic: test2	Partition: 0	Leader: 2	Replicas: 0,2,1	Isr: 2,1,0</code>
    </pre>
    <p>
        We can see under Isr that broker 0 is now back in-sync with the rest of the cluster.
    </p>
{% endblock %}